/* ============ universal styles ============ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
    font: 16px "Verdana", Arial, Helvetica;
    background-color: #e2e2e2;
}

h2, h4 {
    color:grey;
}

.logo h1, .logo h2 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#header, footer {
    padding: 1em;
    width: 100%;
    position: relative;
}

.menu ul li, .social li {
    list-style-type: none;
    display: inline;
    margin: 0 2em 1em 0;
}

.menu li, .menu li a {
    color: #000;
    border-bottom: 2px solid #e2e2e2;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.menu li a:hover {
    color: #000;
    border-bottom: 2px solid #000;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#header .menu {
    position: absolute;
    top: 2em;
    right: 3em;
}
.page {
    width: 85%;
    margin: 2em auto;
    padding: 5%;
    background-color: #fff;
    border-bottom: 2px solid grey;
    border-left:1px solid grey;
}

footer .menu, footer .social {
    text-align: center;
}

.social {
    margin: 3em 0;
    text-transform: uppercase;
}

.intro {
    text-align: center;
    font-size: 18px;
    line-height: 2em;
}

.intro h3 {
    text-align: center;
    font-size: 2em;
    text-align: center;
    margin: 0;
}

.intro h4 {
    text-align: center;
    font-size: 2em;
    text-align: center;
    margin: 1em 0;
}

.social a {
    color: #999;
    text-decoration: none;
    margin: 1em 0;
}

.block , .block h3, .block h4 {
    margin: 2em 0;
}

.block ul li {
    margin:0 0 2em 0;
}

.projects li {
    list-style: none;
    text-align: center;
    padding: 5em 0 3em 0;
    border-bottom: 1px solid #ccc;
}

.projects img {
    margin: 0 auto;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 35px;
  }
  
  /* grid item */

  .submit-button {
    justify-self: center;
  }
  
  @media screen and (min-width: 736px) {
    
    .contact-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 40px 40px 140px 40px;
      grid-gap: 35px;
    }
  
    /* --- grid items --- */
    .comment-box {
      grid-column: 1 / -1;
    }
    
    .submit-button {
      justify-self: start;
    }
    
  }
  
  /* ============ form styles ============ */
  
  /* adds space on top for label */
  .contact-form {
    margin:5em 0;
  }
  
  /* positioning .form-field relative, so .lable can be positioned on-top (absolute) */
  .form-field {
    position: relative;
  }
  
  /* label styles */
  .label {
    position: absolute;
    left: 0;
    top: -25px;
    line-height: 26px;
    font-weight: 400;
    text-transform: capitalize;
    color: #888;
    cursor: text;
  }
  
  /* input styles */
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
  
    border: none;
    height: 40px;
    padding: 0 10px;
    width: 100%;
    background-color: rgb(247,247,247);
    color: rgb(85,85,85);
  }
  
  /* text area styles */
  textarea {
    height: 140px !important;
    padding: 10px 10px;
    
  }
  
  /* ============ submit button styles ============ */
  .btn {
    background-color: rgb(61,197,223);
    color: white;
    border: 2px solid rgb(61,197,223);
    display: inline-block;
    padding: 12px 30px;
    min-width: 200px;
    margin-top: 15px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }
  
  .btn:hover {
    background-color: white;
    color: rgb(61,197,223);
  }
  
  .btn:active {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  }